@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: auto;
}
html,
body {
  height: 100%;
}

:root{
    font-size:62.5%;
    --xl-font-size:7.6rem;
    --lg-font-size:5.6rem;
    --md-font-size:3.6rem;
    --sm-font-size:2.6rem;
    --normal-font-size:2.1rem;
    --xs-font-size:1.6rem;
}
body{
    font-family: 'Inter', sans-serif; 
    background-image: linear-gradient(45deg,rgba(255, 0, 0, 0.527),rgba(0, 0, 255, 0.415));
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}
form,button,input,textarea,select{
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;

}
img{
    max-width: 100%;
}

/* general classes  */

.bg-container--nav{
    padding: 100px 0;
   
}
.bg-container--main{
    padding-bottom: 100px;
}

.btn{
    border: 0;
    padding:0.6em 1em ;
    border-radius: 13px;
    cursor: pointer;
}
.container{
    width: 90%;
    max-width: 870px;
    margin:0 auto;
}
.row{
    display: flex;
    flex-direction: row;
}
.nav-section{
    justify-content: space-between;
    font-size: var(--xs-font-size);
    background-color: rgba(255, 255, 255, 0.3);
    padding: 20px;
    border-radius: 13px;
    backdrop-filter: blur(100px);
    color: whitesmoke;    
    font-weight: 600;
}
.custmor-btn{
    color: inherit;
    background-color: transparent;
    border: 2px solid;
}
.fontawesome-icon{
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    cursor: pointer;

}
.searchContainer{
    border-radius: 24px; 
    border: 2px solid;
    padding:0.6em 1em ;

}
.searchCustomer{
    align-self: center;
    border: none;
    background-color: transparent;
    outline: none;
}

.searchCustomer::placeholder{
    color: whitesmoke;
}
.bg-container--main>.container{
    max-width: 90%;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(100px);
    border-radius: 14px;

}
.display-table{
    width: 100%;
    font-size: var(--normal-font-size);
    border-collapse: collapse;
    color: whitesmoke; 
    text-align: left;
    font-weight: 600;
   
}
.display-table :is(th,td){
    padding: 0.6em;
}
.display-table thead{
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.315);
}
.display-table tbody tr{
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(200px);
    color: #02987A;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.215);
    font-size: 1.8rem;
    word-break: break-all;
    transition: all 0.32ms;
    position: relative;

}
a{
    font-size: 16px;
    color: white;
    padding: 9px;
    display: inline-block;
    font-weight: bold;
}

.display-table tbody tr:hover{
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.215);
    transform: scale(1.02);
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
    color: black;
}

.hide{
    display: none;
}
.menubar{
    position: absolute;
    right: 1.2%;
    top: 50%;
    transform: translate(0,-50%);
    border-radius: 8px;
    display: none;
    padding:0px;
    background-color:transparent;
}

.box{
    font-size: 1.3rem;


}
.box>p:hover{
    color: #02987A;
}
.display-table tbody tr:hover>td:last-child .menubar{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 8px;
} 
.box>p>i{
    margin-right: 2px;
    margin-bottom: 1px;
}

.modalContainer{
    width: 100vw;
    height: 100%;
    position: absolute;
    inset: 0;
    display: grid;
    place-items: center;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(2px);

}
.modal{
    padding: 25px;
    background-color: white;
    width: 38%;
    font-size: var(--normal-font-size);
    border-radius: 14px;
}
.formsection{
    padding: 6px 0;
}

.formsection :is(input[type="text"],input[type="number"],input[type="email"]){
    width: 100%;
    border-radius: 24px; 
    border: 2px solid;
    padding:0.4em 0.6em ;
}
label{
    display: block;
    margin-bottom: 7px;
    margin-left: 8px;
}
.cstmr-btn{
    margin:10px auto 0;
    display: block;
    background-color: #007BFF;
    color: white;
}
.wrong-mark{
    color: hsl(9, 100%, 67%);
    text-align: right;
    cursor: pointer;
}
.addContainer,.successContainer,.errorContainer,.loadingOff,.editContainer,.deleteContainer{
    display: none;
}
.sucessbox{
    font-size: var(--sm-font-size);
    color: #198754;
    text-align: center;
}
.errorbox{
    color: #C73E1D;
}
.rightContainer{
    text-align: right;
    margin-top: 16px;
}
.rightContainer>.btn{
    font-size: 1.6rem;
}
.rightContainer>.btn:last-child{
    background-color: #C82333;
    color: white;
}
.rightContainer>.btn:first-child{
    background-color: #218838;
    color: white;
}

.spinner {
    width: 30px;
    height: 30px;
    border: 5px solid #ccc;
    border-top-color: #62d343;
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
  }
  .spinnerContainer{
    width: 19%;
    justify-content: center;
    overflow: visible;
    gap: 10px;
    color: #62d343;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  
/*  */